page-contact {
  
  #actionBloc {
    text-align: center;
  }

  #movie h1, h2, h3, h4{
    color: color($colors, swPrim, base);
  }

  #movie p{
    color: color($colors, swSec, base);
  }

  #contact {
    color: color($colors, swSec, base);
  }

  #actionBloc button {
    color: color($colors, swPrim, base);
    border-color: color($colors, swPrim, base);
  }
}

