page-contact {

  .fixed-content {
    background-image: url(http://www.open2d.com/data/uploads/2015/02/4.jpg);
  }
  
  #actionBloc {
    text-align: center;
  }

  #movie {
    color: #FFD700;
  }

  #contact {
    color: #FFD700;
  }
}

