page-home {
  background: #000000;

    #card-stack {
      width: 100%;
      height: 100%;
      background: white;
      margin: 0;
      position: relative;
    }

    #card-stack ion-card {
      background: #D7C07A;
      position: absolute;
      text-align: center;
      height: 100%;
    }

    #card-stack ion-card ion-item{
      text-align: center;
      width: 100%;
      display: inline-block;
      background: #D7C07A;
    }

    #card-stack ion-card ion-item ion-avatar ion-row ion-col img{
      display: inline-block;
      height:100%;
      border-radius: 0;
      width: 100%;
    }

    #card-stack ion-row ion-col{
      width: 100%;

    }

    ion-row{
      height:100%;
    }
  }
