page-result {

  #movieList img{
    height: auto;
    width: 100%;
  }
  
  #filmKnow {
    padding-bottom: 15%;
    color: color($colors, swPrim, base);
  }
  
  #filmUnknow {
    color: color($colors, swPrim, base);
  
  }

}

