page-result {

  .fixed-content {
    background-image: url(http://www.open2d.com/data/uploads/2015/02/4.jpg);
  }

  #movieList img{
    height: auto;
    width: 100%;
  }
  
  #filmKnow {
    padding-bottom: 15%;
    color: #FFD700;
  }
  
  #filmUnknow {
    color: #FFD700;
  
  }

}

